html {
  font-size: 21px;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: linear-gradient(#5A3F89, #F7567C, #FFEB70);
  color: white;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem 0;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

h6 {
  font-size: 0.66rem;
  font-weight: 600;
  margin: 0.5rem 0;
  text-transform: uppercase;
}

a {
  text-decoration: underline;
  color: white;
  font-weight: 600;
}


.text-small {
  font-size: 0.75rem;
}

video {
  /* width: 100%; */
  height: auto;
  max-height: 50vh;
  max-width: 100%;
}
